.reveal {
    font-family: "Yandex Sans Text", sans-serif;
}

.reveal .slides {
    text-align: left;
}

.reveal pre {
    margin: 20px 0;
    width: 100%;
    font-size: 1em;
}

.reveal section[data-density="dense"] pre {
    font-size: 0.7em;
}

.reveal section[data-type="showcase"] {
    text-align: center;
}

.reveal pre code {
    padding: 1em;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
    display: inline-block;
    font-family: "Fira Code", monospace;
    margin: .3em .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 #fff;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    font-family: "Yandex Sans Text", sans-serif;
}

.reveal h1 {
    font-weight: 100;
}

.reveal h2 {
    font-weight: 400;
}

.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-weight: 500;
}