.reveal .author {
    text-align: center;
    margin-top: 100px;
}

.reveal .author::first-letter {
    color: red;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

@font-face {
    font-family: sourcecodepro-light;
    font-weight: 200;
    src: local(textbook-bold);
    src: url('../fonts/SourceCodePro-Light.ttf');
}

pre,
.reveal pre code {
    font-family: 'sourcecodepro-light', textbook, Arial;
    max-height: none;
    font-size: 1.5em;
    line-height: 1.6em;
}

.reveal pre {
    box-shadow: none;
}

.reveal .slide-number {
    font-family: 'sourcecodepro-light', textbook-light, Arial;
    font-size: .7em;
    background-color: rgba(255, 255, 255, 0.75);;
    color: black;
    padding: 7px;
    bottom: 20px;
}

.reveal .columns {
    display: flex;
}

.reveal pre.size-L code {
    font-size: 5em;
    line-height: 6em;
}


.reveal pre.size-XS code {
    font-size: 1.3em;
    line-height: 1.4em;
}

.reveal pre.size-XXS code {
    font-size: 1.1em;
    line-height: 1.1em;
}

.reveal pre.size-XXXS code {
    font-size: 0.5em;
    line-height: 0.9em;
}

li.pos:before {
    content: '✓';
    color: #a1b56c;
    padding-right: 23px;
}

li.pos {
    list-style-type: none;
}

li.neg:before {
    content: '✗';
    color: #992200;
    padding-right: 30px;
}

li.neg {
    list-style-type: none;
}

.reveal blockquote {
    box-shadow: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}
